{% extends 'base.html' %}


{% block content %}
<section class="user-card">
    <section class="user-info">
        <div>
            {% load static %}
            <img class="user-icon" src="{% static "../static/assets/branding/News_Glorious_News_USER.png" %}">
        </div>
        <div>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Username</p>
            <h4>{{ user.username }}</h4>
            <p>Email</p>
            <h4>{{ user.email }}</h4>
            <p>Date joined</p>
            <h4>{{ user.date_joined }}</h4>
        </div>
        <section class='edit-btns'>
            <a class='button-success' href= "{% url 'users:updateUser' request.user.id %}">Update</a>
            <a class='button-danger' href= "{% url 'users:deleteUser' request.user.id %}">Delete</a>
        </section>
    </section>
</section>
<br>
<section class="latest-stories">
    <h2> Your Stories</h2>
    <a class="button" href="{% url 'news:newStory' %}"> Write New Story</a>
    {% if authored_stories.all %} 
        <div class="story-card-text">
            {% for story in authored_stories.all %}
            {% include "news/storyCard.html" with story=story %}
            {% endfor %}
        </div>
    {% else %}
        <p>Time to create a story!</p>
    {% endif %}
    <a class="button" href="{% url 'news:newStory' %}"> Write New Story</a>
</section>
{% endblock %}