{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>News Glorious News</title>
    <meta name="description" content="" />
    <meta name="author" content="Caoimhe Young" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Miltonian&family=Miltonian+Tattoo&family=Playfair+Display:ital,wght@0,500;1,500&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{%static 'styles.css' %}" />
    {% block stylesheets%}{% endblock %}
  </head>

  <body>
    <header>
      <div id="header-text">
        <a id="header-link" href="{% url 'news:index' %}">
          {%load static%}
          <img class="logo" src="{%static "../static/assets/branding/News_Glorious_News_icon.png"%}" alt="News Glorious News Logo">
        </a>
        <h1>News Glorious News</h1>
      </div>
      {% include './nav.html' %}
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
