<input type="checkbox" class="openmenu" id="open-menu" />
    <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </div>
    <nav class="menu">
        <a href="{% url 'news:index' %}">Home</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'users:userProfile' request.user.id %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>