/* ------------------ GLOBAL VARIABLES ------------------ */
:root {
    /* ------------------LAYOUT------------------ */
    --base-padding: 20px;
    --base-margin: 10px;

    /* ------------------COLOURS------------------ */
    /* CaoimheJyoti Brand Colours */
    /* Highlights */
    --colour1: #DF495E;
    --colour2: #F39D47;
    --colour3: #917BB0;
    --colour4: #1C5752;
    --colour5: #E0DEDB;
    /* Neutrals */
    --colour11: #06130f;
    --colour12: #4a5551;
    --colour13: #5c6763;
    --colour14: #95a09c;
    --colour15: #e7f4ee;
    /* inherited colours */
    --text: var(--colour15);

    /* bkgd img */
    --crumble: url("/static/assets/branding/News_Glorious_News_bkgd.png");

    /* ------------------FONTS------------------ */
    --font-1: "Rock Salt", cursive;
    --font-2: "Josefin Sans", sans-serif;
    --font-3: "Playfair Display", serif;
    --h1: 5.441rem;

    /* ------------------IMGS------------------ */
}
  /* ------------------ END OF GLOBAL VARIABLES ------------------ */

/* ------------------Reset/base CSS code and style guide------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    background-color: var(--colour5);
    color: var(--text);
    font-family: var(--font-2);
    font-size: 112.5%;
    font-weight: 400;
    line-height: 1.65;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    max-width: 100%;
    display: block;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  h1 {
    color: var(--colour1);
    font-family: var(--font-2);
    font-size: 3.052rem;
  }
  h2 {
    font-family: var(--font-2);
    font-size: 2.441rem;
    text-align: center;
  }
  h3 {
    color: var(--colour4);
    font-size: 1.953rem;
  }
  h4 {
    color: var(--colour5);
    font-size: 1.563rem;
  }
  h5 {
    color: var(--colour3);
    font-size: 1.25rem;
  }
  h6 {
    color: var(--colour2);
    font-size: 0.8rem;
  }
  p {
    padding: 0.6rem 0;
  }
  .text_small {
    font-size: 0.512rem;
  }
  a {
    font-family: var(--font-3);
  }
  .constrained-container {
    padding: 1.6rem;
  }
  /* ------------------ end of resent/stye guide ------------------ */
  
  /* ------------------ Button Styling ------------------ */
button,
.button {
    padding: 0.8rem;
    /* background-image: var(--crumble); */
    background-color: var(--colour3);
    color: var(--colour4);
    border: none;
    border-radius: 0.4rem;
    font-family: var(--font-2);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button-danger {
    padding: 0.8rem;
    background-color: var(--colour4);
    color: var(--colour5);
    border: none;
    border-radius: 0.4rem;
    font-family: var(--font-2);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button-success {
    margin-top: 0.6rem;
    padding: 0.8rem;
    background-color: var(--colour1);
    color: var(--colour5);
    border: none;
    border-radius: 0.4rem;
    font-family: var(--font-2);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button-success:hover {
    border: var(--colour5) solid 0.2rem;
}
.button-download {
    padding: 0.8rem;
    background-color: var(--colour1);
    color: var(--colour5);
    border: none;
    border-radius: 0.4rem;
    font-family: var(--font-2);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button-download:hover {
    background-color: var(--colour3);
    color: var(--colour1);
}
/* ------------------ end of buttons ------------------ */

/* ------------------ Header ------------------ */
/* NOTE: look at fixing when scrolled but not at top... */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colour1);
}
header a {
display: inline-block;
color: var(--colour5);
font-size: 1.6rem;
text-decoration: none;
}
header a:hover,
header a:active,
header a:focus {
color: var(--colour4);
font-weight: bold;
text-decoration: none;
}
.logo {
  margin: 0.6rem;
  height: 8vh;
  /* border-radius: 50%; */
}

/* ---- toggle hamburger menu for nav on larger devices ---- */
.menu {
    display: none;
  }
  .checkbox {
    display: flex;
    align-items: center;
  }
  .openmenu {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    /* -- hides checkbox -- */
    margin: 10px;
    opacity: 0;
  }
  /* -- opens menu -- */
  .checkbox input[type="checkbox"]:checked ~ .menu {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .hamburger-lines {
    margin: 0px;
    padding: 0;
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  .line {
    height: 4px;
    width: 100%;
    display: block;
    background: var(--colour5);
    border-radius: 10px;
  }
  /* -- transform hamburger lines -- */
  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  /* -- change hamburger when checked -- */
  .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    background: var(--colour5);
    transform: rotate(45deg);
  }
  .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    background: var(--colour5);
    transform: scaleY(0);
  }
  .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    background: var(--colour5);
    transform: rotate(-45deg);
  }
  /* ------------------ END OF HEADER ------------------ */

h3 {
    font-size: 2rem;
    margin: 0;
} */

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

/* ------------------ MAIN ------------------ */
/* ------------------ INDEX PAGE ------------------ */
.index-header{
  padding: 0.8rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.index-header h1{
  text-align: center;
}

.latest-stories{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour1);
}

.card{
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
}

.all-stories{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour2);
}
/* ------------------ END INDEX PAGE ------------------ */

/* ------------------ STORIES PAGE ------------------ */
/* .latest-stories {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
  max-height: 500px;
  background-color: var(--colour2);
} */

.story-card {
  width: 80vw;
  margin: 2px;
  padding: 5px;
  /* border: 1px solid var(--colour4); */
  border-radius: 0.4rem;
  background-color:var(--colour3);
}

.story-img{
  height: 20vh;
}

/* ------------------ END STORIES PAGE ------------------ */
/* ------------------ PROFILE PAGE ------------------ */
.user-card{
  padding: 0.8rem;
  display: flex;
  /* flex-direction: column; */
  border-radius: 0.4rem;
  background-color: var(--colour3);
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user-icon{
  height: 20vh;
}

/* ------------------ END PROFILE PAGE ------------------ */

/* ------------------ END OF MAIN ------------------ */

/* ------------------ Footer ------------------ */
footer {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colour1);
  color: var(--colour15);
}
#footer-logo {
  height: 5vh;
  display: inline-block;
}
#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer a {
  padding: 0.6rem;
  color: var(--colour15);
  font-family: var(--font-2);
  text-decoration: none;
}
footer a:hover {
  color: var(--colour3);
}
/* ------------------ End of footer ------------------ */

/* ------------------ Media Queries ------------------ */
/* ------ query for hamburger menu in desktop ------ */
@media screen and (min-width: 830px) {
    .openmenu {
      display: none;
    }
    nav.menu {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    nav a {
      padding: var(--base-padding);
    }
    .hamburger-lines {
      display: none;
    }

    .card{
      justify-content: space-evenly;
      border-radius: 0.4rem;
    }

    .story-card {
      width: 45vw;
    }
}
  /* ------ query for constrained-contianer in desktop ------ */
  @media screen and (min-width: 900px) {
    .constrained-container {
      max-width: 870px;
      margin: 1rem auto;
    }

  }
  /* ------------------ END OF MEDIA QUERIES ------------------ */