{% extends 'base.html' %} 
{% load static %}

{% block stylesheets %}
<linkrel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{%endblock %}

{% block content %}
<section class="index-header">
  {%load static%}
  <img class="" src="{%static "../static/assets/branding/NGN_banner_logo2.png"%}" alt="News Glorious News Banner">
</section>

<div>
  {% if request.user.is_authenticated %}
    <a class="button" href="{% url 'news:newStory' %}"> Write New Story</a>
  {% endif %}
</div>

<section class="latest-stories">
  <h2>Latest News</h2>
  <article class='card'>
    
    {% if latest_stories %}
      {% for story in latest_stories %}
        {% include "./storyCard.html" with story=story position=forloop.counter%}
      {% endfor %}
    {% else %}
      <p>No stories are available.</p>
    {% endif %}
  </article>
</section>

<section class="all-stories">
  <h2>All News Stories</h2>
  <article class='card'>
    {% if latest_stories %} 
      {% for story in all_stories %}
        {% include "./storyCard.html" with story=story%}
      {% endfor %}
    {% else %}
      <p>No stories are available.</p>
    {% endif %}
  </article>
</section>


{% endblock %}
