{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<linkrel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<main class="constrained-container"> 
  {% comment %} Story {% endcomment %}
  <section id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <a href= "{% url 'news:authorFilter' story.author %}">
      <h4>{{ story.author }}</h4>
    </a>
    <h6>{{ story.pub_date }}</h6>
    <div id="story-content">
      {% if story.image %}
        <img src="{{ story.image }}" />
      {% endif %}
      {{ story.content|linebreaks }}
    </div>
  </section>
  <br>
  {% comment %} COMMENTS {% endcomment %}
  <section class="comment-form">
    <h4> Have something to say? Let us know </h4>
    <form action = "{% url "news:addComment" story.id %}" method = "post">
      {% csrf_token %} 
      {{form.as_p}} 
      <input type="submit" value="submit">
    </form>
  </section>
  <br>
  <section class="comment-display">
    <h5>Comments</h5>
    {% if story.comments.all%}
    {% for comment in story.comments.all%}
      <ul>
        <li>{{comment.content}} by {{comment.author.username}} </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>There are no comments yet - add yours above.</p>
  {% endif %}
  </section>
</main>

{% endblock %}
